* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Color de los link (texto)en el nav */
.navbar .nav-item .nav-link {
  color: blue;
}

.navbar .nav-item .nav-link:hover {
  color: #008bc6;
  text-decoration: underline
  
}

/* Configuracion de logo*/
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #008bc6;
}

.whatsapp {
  background: #00BB2D;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border: solid 1px #fff;
  border-radius: 20px;
  text-decoration: none;
}

.whatsapp:hover {
  background: #fff;
  color: #00BB2d;
  border: solid 2px #00BB2D;
}

/* Colocando la imagen que irá de fondo en el main header */
/* ../img/background.jpg esta sintaxis hace que nos tome la imagen desde la carpeta correspondiente */
/* background-size: cover; hace que la imagen ocupe toda la pantalla */
.main-header {
   /* position: relative; posicionamiento de la imagen no necesario aqui en particular */
  background: url(../img/atardecer.jpg);
  background-size: cover;
  /* min-height: 600; le da un alto minimo a la imagen de background */
  min-height: 600;
}

.main-header-projects {
  background: url(../img/cover.jpg);
  background-size: cover;
  min-height: 600;

}

.main-header-bio {
  background: url(../img/cover-two.jpg);
  background-size: cover;
  min-height: 600;

}

/* background-overlay coloca el color sobre la imagen y el ultimo valor es la opacidad del mismo*/

.background-overlay {
  background:rgba(48, 51, 107,.7);
  /* Las siguientes lineas top left width height en caso que la imagen de fondo desborde al overlay*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Elimina el borde redondeado a los botones*/
.btn {
  border-radius: 0px;
}

.content-texts span {
  background: #008bc6;
  color: #fff;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 3px;

}

.content-texts p {
  text-align: justify;
  font-size: 22px;
  color: #17202A;

}

.info-left h2 {
  text-align: center;
}

.row-galery {
  display: flex;
  justify-content: center;
  align-items:center;
}

.container-galery {
  
  justify-content: center;
  align-items:center;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 200px;

}

.borde {
  background-image: url(../img/sistema-sedal-mejias_web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.card-uno {
  background-image: url(../img/sistema-sedal-mejias_web.jpg);
  
}

.card-dos {
  background-image: url(../img/sport-plus-mejias_web.png);
  
}

.card-tres {
  background-image: url(../img/mb-mejias_web.jpg);
  
}

.card-cuatro {
  background-image: url(../img/mynellys-mejias_web.jpg);
  
}

.card-cinco {
  background-image: url(../img/lmt-mejias_web.png);
  
}

.card-seis {
  background-image: url(../img/LOGO-INV-AGUA-SANTA.png);
  background-position: center;
  
}


.card-siete {
  background-image: url(../img/Logo-fuente-productiva-c.png);
  background-position: center;
  
}

.card-ocho {
  background-image: url(../img/post-Mw.png);
  background-position: center;
  
}

.card-nueve {
  background-image: url(../img/logo-directorio247.png);
  background-position: center;
  
}

.card-diez {
  background-image: url(../img/Logo-sfr-DTienda.png);
  background-size: contain;
  background-position: center;
}

.card-doce {
  background-image: url(../img/lulabypub.png);
  background-size: contain;
  background-position: center;
}

.card-once {
  background-image: url(../img/E.png);
  background-position: center;
  
}

.b_descripcion {
  background: #007bff;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border: solid 1px #fff;
  border-radius: 20px;
  text-decoration: none;
}

.b_descripcion:hover {
  background: #fff;
  color: #007bff;
  border: solid 2px #007bff;
}


.line {
  border: solid 1px #fff;
  width: 80%;
  margin: 30px auto;
}

th {
  font-size: 15px;
  color: #008bc6;
}

td {
  font-size: 12px;
}

.nav-link:hover {
  color: #000;
}

figcaption {
  margin-top: 5px;
  margin-bottom: 20px;
}

table {
  margin-top: 10px;
}

.btn-block {
  margin: 10px 0;
} 

/*Link Up*/

.link-up {
  color: #fff;
}

.up {
  position: fixed;
  right: 1px;
  bottom: 55px;
  z-index:1000;
  background:#008bc6;
  border-radius: 50px;
  
  
}

.contaner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  
}

.contaner-img> img {
  width: 100%;
  
}

/* Configuracion movil*/

@media (max-width: 576px) {

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 26px;
  }

  p {
    font-size: 17px;
  }

  .btn-outline-primary {
    margin: 10px 0;
  }

  .title-finish {
    font-size: 22px;
  } 

  .cont-text-biografy {
    margin-top: 20px;
  }

  th {
    font-size: 17px;
    color: #008bc6;
  }
  
  td {
    font-size: 15px;
  }

  .owner {
    font-size: 18px;
  }

  .owner1 {
    font-size: 17px;
  }

  .text-dark {
    color: #17202A;
  }
  
}






