/*Comence aqui*/

.categories {
  width: 100%;
  color: #fff;
  background: url(../img/cover6.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  clip-path: polygon(0 1%, 100% 0%, 100% 94%, 0% 100%);

}

.carousel img {
  height: 300px;
}

.content-header {
  background: rgba( 0, 0, 0, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.img-company {
  border: 1px solid #dee2e6;
}

/*overlay*/
.container-images {
  display:flex;
  flex-wrap: wrap;
  border-radius:3px;

}

.container-images .image{
  position: relative;
  
}

.image img{
  object-fit: cover;
}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  background:rgba(0, 118, 192, 0.7) ;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}

.overlay h2{
  color: #fff;
  font-weight: 400;
  font-size:30px;
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.overlay h3{
  color: #000;
  font-weight: 300;
  font-size:25px;
  position: absolute;
  margin-left: 10px;
}

.image:hover .overlay{
  height:100%;
  cursor: pointer;
}

/*end overlay*/

.card-content {
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
  color: #0274be
}

.card-text {
  font-size: 22px;
}

.card-content:hover {
  background: #0274be;
  color: #fff;
}

/* Nav end categories */
.content-btn-categories {
  margin-bottom: 50px;
}
.content-btn-categories > .btn {
  border-radius: 32px;
}

/* Categories sections */
.categories-section {
  margin-bottom: 50px;
}
.categories-section {
  margin-bottom: 5px;
  font-size: 40px;
}

